a{
    color: blue;
}
.card{
    background-color: rgb(31, 30, 30);
}
.card-body>a{
    text-transform: uppercase;
}

#scrollToTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    border-radius: 50%;
}